<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feedbacks</key>
		<array/>
		<key>price</key>
		<string>399 грн.</string>
		<key>fullDescription</key>
		<string>Современные системы оплаты позволяют нам отказаться от купюр в целом. А если вы уже это сделали, то наш кардхолдер будет хорошим вариантом для хранения кредитных карт и пары купюр прозапас =)
                Так же это отличный вариант для отпуска - когда большой кошелек просто не нужен !
                - размер 97х87х6 мм
                - два кармана для карт, каждый вместит 2-3 карты
                - карман для купюр</string>
		<key>description</key>
		<string>Современные системы оплаты позволяют нам отказаться от купюр в целом. А если вы уже это сделали, то наш кардхолдер будет хорошим вариантом для хранения кредитных карт и пары купюр прозапас.</string>
		<key>name</key>
		<string>Cardholder</string>
	</dict>
</array>
</plist>
