<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feedbacks</key>
		<array/>
		<key>price</key>
		<string>1 999 грн.</string>
		<key>fullDescription</key>
		<string>Изделие выполнено из плотной кожи толщиной 2 мм, что позволяет отлично сохранять форму. Клапан закрывается на вшитый магнит, благодаря этому у вас быстрый доступ к вместимому! на задней стенке карман закрывающийся на молнию!
                Размеры:
                335x240x40 mm
                Вместит в себя ноутбук / документы а4 / журналы - в основной отдел
                зарядное и мышку / кошек и телефон / ключи документы - в карман под молнией.</string>
		<key>description</key>
		<string>Изделие выполнено из плотной кожи толщиной 2 мм, что позволяет отлично сохранять форму. </string>
		<key>name</key>
		<string>Business folio</string>
	</dict>
</array>
</plist>
